<!doctype html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>silbent</title>

<style type="text/css">
//.silbe {background: blue; };
</style>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!-- Latest compiled and minified JavaScript -->
<script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='silben.js') }}"></script>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('home')}}">Silben Lesen</a>
    </div>
    <div class="container">
        <form class="form-inline navbar-form navbar-right" role="form" method="POST" action="{{url_for('login')}}">
            {%if g.user %}
            <div class="form-group">
                {{g.user.username}}
            </div>
            <div class="form-group">
                <a href="{{url_for('logout')}}" class="btn btn-default">Abmelden</a>
            </div>
            {%else%}
            <div class="form-group">
                <label class="sr-only" for="login-username">Wer bist du</label>
                <input id="focusedInput" type="text" class="form-control" name="username" placeholder="wer bist du?">
            </div>
            <div class="form-group">
                <label class="sr-only" for="login-password">Passwort</label>
                <input type="password" class="form-control" name="password" placeholder="passwort">
            </div>
            <button type="submit" id="submit" action="." class="btn btn-default">Anmelden</button>
            {% endif %}
        </form>
    </div>
</nav>
<div class="col-sm-12 col-md-6 col-lg-4">
    {% if g.user.username == 'admin' or g.user.parent == 'admin' %}
    <h4> {{ g.user.username }} </h4>
    <form class="form-inline navbar-form navbar-right" role="form" method="POST" action="{{url_for('addT')}}">
        <table class="table">
            <tr>
                <th> Name </th>
                <th> Level 1</th>
                <th> </th>
                <th> Loeschen </th>
            </tr>
            {% for name,level in g.user.childs.items() %}
            <tr>
                <td> {{name}} </td>
                <td> {{level}} </td>
                <td> </td>
                <td> <a href="{{ url_for('delT',name=name) }}" class="btn btn-danger">X</a></td>
            </tr>
            {% endfor %}
        </table>
        <div class="form-group">
            <input id="" type="text" class="form-control" name="lname" placeholder="user">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="passwort">
        </div>
        <button type="submit" id="submit" action="." class="btn btn-default">Hinzufuegen</button>
    </form>
    {% endif %}
    <!--Kinderliste-->
    <!--<ul class="list-group">-->
        <!--<li class="list-group-item">-->
            <!--<span class="badge">14</span>-->
            <!--Hans-->
        <!--</li>-->
        <!--<li class="list-group-item">-->
            <!--<span class="badge">3</span>-->
            <!--Sepp -->
        <!--</li>-->
    <!--</ul>-->
</div>
<div id="diesilben" class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
</div>
<div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<script>
var silbCnt = 0;
var nr = 5;
var silben = [{% for silb in g.silben%}'{{silb}}',{% endfor%}];
var stDate;
$(function() {
        silben = shuffle(silben);
        $("#diesilben").click(function(){
            silbCnt += nr;
            Silb = silben.slice(silbCnt,silbCnt+nr);
            //console.log(Silb);
            if (Silb.length) {
                showSilben(Silb);
            } else {
                var d = new Date();
                var t = Math.ceil((d-stDate)/1000);
                $.get("{{url_for('finish')}}", {ti: t}, function() {
                    location.reload();
                    });
            }
        });
        {% if g.user['parent'] != 'admin' and g.user['username'] != 'admin' %}
        $.get("{{url_for('getTimes')}}", function(data){
            $("#diesilben").html(data);
            $("#asdf").click(function() {
                stDate = new Date();
                start();
                });
            });
        {% endif %}
});
</script>
</body>

