
<!--<div class="col-sm-12 col-md-12 col-lg-12">-->
<div class="col-sm-12 col-md-8 col-lg-4">
    {% if g.user.username %}
    <h4>So schnell war ich</h4>
    <table class="table">
        <tr> 
            <th>Wann</th>
            <th>Zeit [s]</th>
        </tr> 
        {% for t in times %}
        <tr> 
            <td> {{t[0].strftime('%Y-%m-%d %H:%M')}}</td>
            <td> {{t[1]}} </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
<!--</div>-->
</div>
<!--<h1> .</h1>-->
<br>
<br>
<br>
<div class="col-xs-12 col-md-8 silbe col-lg-6">
    <div id="asdf" class="btn btn-info jumbotron"> 
        <h1 class="text-center">START</h1>
    </div>
</div>




